.Main {
  text-align: center;
  overflow: hidden;
}

.Main-header {
  background-color: #2a2f3a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 29px;
  letter-spacing: 0.2px;
  word-spacing: 0px;
  color: #fffef0;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.fab {
  background-color: #c0dced;
  border-radius: 50%;
  border: 4px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #14396a;
  font-family: Impact;
  font-size: 45px;
  font-weight: bold;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 2px 2px 0px #7cacde;
  position: fixed;
  top: 50vh;
  right: 5vw;
  z-index: 1000;
  opacity: 50%;
}

.fab:hover {
  background-color: #8fbae0;
  opacity: 100%;
}
