.Main {
  text-align: center;
}

.Main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
.fab {
	background-color:#c0dced;
	border-radius:50%;
	border:4px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Impact;
	font-size:45px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:2px 2px 0px #7cacde;
  position: fixed;
  top:55%;
  right:5%;
  z-index:1000;
}
.fab:hover {
	background-color:#8fbae0;
}
.fab:active {
	position:fixed;
	top:55%;
  right:5%;
}
