.tabs-container {
  width: 100vw;
  height: 35vh;
  background: white;
}

.tab-list {
  width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;
}

.tab-list-item {
  list-style: none;
  width: calc(100vw / 3);
}

.tab-list-item button {
  margin: 0;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  background: #cbeeee;
  border:0;
  color: #3ca1a8;
  cursor: pointer;
}

.tab-list-active button {
  font-weight: 700;
  background-color: #7fd1c3;
  border-color: #196368;
  border-style: solid solid none solid;
}

.tab-content {
  color: black;
  text-align: left;
  font-size: 0.7em;
  margin: 1em;
  padding-left: 0;
  height: 22vh;
  overflow: scroll;
}

.tab-content h4 {
  margin-top: 0;
}

.tab-content li {
  list-style: none;
}
